.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 500px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    z-index: 3;
    left: 400px;
    top: 450px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 490px;
    left: 420px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    left: 700px;
    top: 600px;
  }